body {
  margin: 0 auto;
  background-color: #333;
  color: white;
}

.App {
  padding: 10px;
}

.App div button {
  margin: 5px;
  ;
}

img {
  max-width: 300px;
}

button {
  background-color: #f5f5f5;
  /* Um tom de branco não tão branco */
  border: 1px solid #ccc;
  /* Uma borda leve para destacar o botão */
  color: #333;
  /* Cor do texto */
  padding: 10px 20px;
  /* Espaçamento interno */
  font-size: 16px;
  /* Tamanho da fonte */
  border-radius: 5px;
  /* Borda arredondada */
  text-decoration: none;
  /* Remover sublinhado padrão em links */
  display: inline-block;
  /* Manter o botão em uma única linha */
  cursor: pointer;
  /* Mostrar cursor de mão ao passar o mouse */
}

button:hover {
  background-color: #e0e0e0;
  /* Alterar a cor de fundo ao passar o mouse */
}
